## Project 4-1 : Data Acquisition

## Assignment Instructions

### Description

Some pandas and data acquisition problems.

### Grading

For grading purposes, we will clear all outputs from all your cells and then run them all from the top.  Please test your notebook in the same fashion before turning it in.

### Submitting Your Solution

To submit your notebook, first clear all the cells (this won't matter too much this time, but for larger data sets in the future, it will make the file smaller).  Then use the File->Download As->Notebook to obtain the notebook file.  Finally, submit the notebook file on Canvas.

### Helpful Resources
There may be more posted in a Canvas announcement, so be sure to check there, as well.
- [iloc and loc](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/)

In [1]:
# Imports
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Problem: pandas and text file acquisition (20 points)

Included with this assignment is a text file named `plants.txt` (source: [USDA](https://plants.usda.gov/java/)).  **Read this file into a pandas DataFrame object** (10 points), then write code to **find the answers to the questions** that follow (5 points each).  There are many ways to answer each of these questions - see if you can answer each in `3` lines of code or less (this won't affect your grade).  Show us your code below.

---

**Questions for Problem (Write answers in this cell):**

---

(a) What is the common name of the plant whose symbol (in the Plants database) is 'ECAP'?

The common name for the plant whose symbol is ECAP is the Apache hedgehog cactus.

(b) How many plants are listed in the Agavaceae family?

There are 1012 plants in the Agavaceae Family.

(c) How many different family names are there (ignoring missing/null family names)?
<br>**Note:** There are two acceptable answers to this questions that differ by 1.

There are 542 unique families in this data set.

(d) How many plants have the term 'vulgaris' in their scientific name?

There are 132 plants whose scientific name contains the word "vulgaris".

In [ ]:
# Read Data
pubschool = pd.read_csv('DBD2014.csv', index_col = 'Symbol')

# Problem One
name = pubschool.loc['ECAP'].at["Common Name"]
print(f"The common name for the plant whose symbol is ECAP is the {name}.\n")

# Problem Two
agavaceae = plants[plants['Family'] == "Agavaceae"]
print(f"There are {agavaceae.size} plants in the Agavaceae Family.\n")

# Problem Three
uniqueFamilies = set(plants['Family'])
uniqueFamilies.remove(np.nan)
print(f"There are {len(uniqueFamilies)} unique families in this data set.\n")

# Problem Four
vulgaris = [x for x in plants["Scientific Name with Author"] if "vulgaris" in set(x.split())]
print(f"There are {len(vulgaris)} plants whose scientific name contains the word \"vulgaris\".")

In [4]:
pubschool = pd.read_csv('DBD2014.csv')
pubschool
# df.iterrows, itertuples
# row county -- Nan or not NaN
# continue iterating from updated index
# pd.to_csv

,COUNTY,Unnamed: 1,SCHOOL DISTRICT,FPC,CIPC,OLPC,AscPC,TARPC,TOTAL_FORM_FUND,TAF,...,BSF,Adj_TOTAL_PROG_FUND,PROP_TAX,ASSED_VAL,MILL_LEVY,SPEC_OWNER_TAX,STATE_SHARE,STATE_SHARE.1,HHFDKF,OVERRIDE_REV
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADAMS,NaN,MAPLETON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,TOTAL,"7,940.2",305.0,"2,111.0",6.0,"4,757.1","65,213,811",0,...,"(10,056,501)","53,051,984","11,965,160","458,786,800",26.08,"869,310","42,322,841","4,884,050","84,289",NaN
3,NaN,NaN,PER PUPIL,NaN,NaN,NaN,,NaN,"7,909",0,...,"(1,220)","6,681","1,451","55,643",NaN,105,"5,133",615,11,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Questionnaire
1) How long did you spend on this assignment?
<br>About an hour.<br>
2) What did you like about it? What did you not like about it?
<br>I liked it a lot. It was simple, but informative. I felt like the problems were just the right level of out-of-reach. I didn't like that the scientific name was grouped with the discoverer's name. It made things hazy. <br>
3) Did you find any errors or is there anything you would like changed?
<br>None that I saw. Nope, I liked this one a lot.<br>